:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
}

* {
    box-sizing: border-box;
}

.button{
    &.donate{
        background-color: green;
    }
}

section {
    &:first-of-type {
        @media (max-width: 600px) {
            margin-top: 6em;
        }
    }
}

.section-container{
    padding: 0 2.5em;
}