:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
}

section {
    width: 100%;

    &:first-of-type {
        @media (max-width: 600px) {
            margin-top: 4em;
        }
    }
}

.flyer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5em;

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}