:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5em;
}

section {
    &:first-of-type {
        @media (max-width: 600px) {
            margin-top: 4em;
            width: 100%;
        }
    }
}

.section{
    width: 100%;
    margin: 1em auto;
}

.show-card {
    @media (min-width: 600px) {
        min-width: 400px;
    }
}

.flyer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5em;

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}