:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
}

section {
    width: 100%;

    // @media (max-width: 600px) {
    //     width: 100%;
    // }

    &:first-of-type {
        @media (max-width: 600px) {
            margin-top: 4em;
        }
    }
}

.button-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.glass .card-blur-bg {
    will-change: transform, opacity;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(20px);
    border-radius: 20px;
    overflow: hidden;
    /* Webkit/Safari fixes */
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-backdrop-filter: blur(20px);
}

.glass .card-blur-bg.animate {
    /* Animation for slow scale and pan */
    animation: cardBlurPanZoom 32s ease-in-out infinite alternate;
    -webkit-animation: cardBlurPanZoom 32s ease-in-out infinite alternate;
}

.glass .card-blur-bg.reverse {
    animation-direction: alternate-reverse;
    -webkit-animation-direction: alternate-reverse;
    animation-duration: 24s;
}

.glass .card-blur-bg.normal{
    animation-duration: 18s;
}


@keyframes cardBlurPanZoom {
    0% {
        transform: scale(1) translateX(0);
        background-position: left bottom;
    }

    25% {
        transform: scale(1.25) translateX(10px);
    }

    // 50% {
    //     transform: scale(1.5) translateX(20px);
    //     background-position: right bottom;
    // }

    75% {
        transform: scale(1.75) translateX(10px);
    }

    100% {
        transform: scale(1) translateX(0);
        background-position: right bottom;
    }
}

@-webkit-keyframes cardBlurPanZoom {
    0% {
        transform: scale(1) translateX(0);
        background-position: left bottom;
    }

    25% {
        transform: scale(1.25) translateX(10px);
    }

    // 50% {
    //     transform: scale(1.5) translateX(20px);
    //     background-position: right bottom;
    // }

    75% {
        transform: scale(1.75) translateX(10px);
    }

    100% {
        transform: scale(1) translateX(0);
        background-position: right bottom;
    }
}