:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
}

section {
    width: 100%;

    @media (max-width: 600px) {
        width: 90%;
    }

    &:first-of-type {
        @media (max-width: 600px) {
            margin-top: 4em;
        }
    }
}

.button-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}