:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
}

section {
    width: 100%;

    // @media (max-width: 600px) {
    //     width: 100%;
    // }

    &:first-of-type {
        @media (max-width: 600px) {
            margin-top: 4em;
        }
    }
}

.button-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.glass .card-blur-bg {
    will-change: transform, opacity;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    // background position needs to be horizontally centered but vertically anchored from the bottom
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(20px);
    border-radius: 20px;
    overflow: hidden;
    /* Webkit/Safari fixes */
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    -webkit-backdrop-filter: blur(20px);
}